# DS_Store

.DS_Store

# Build directory

build

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# Executables
*.exe
*.out
*.app
liri-browser

# Visual Studio
/Win32
/debug
/release
liri-browser.sdf
liri-browser.v12.suo
liri-browser.vcxproj
liri-browser.vcxproj.filters
liri-browser.vcxproj.user
liri-browser.opensdf

# Ubuntu
.ubuntu-sdk-deploy
*.click
lib/

# Oxide
TransportSecurity
