[Desktop Entry]
Name=Liri Browser
Exec=opt/liri-browser-ubuntu/bin/liri-browser.timsueberkrueb
Icon=icons/liri-browser-ubuntu.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

