[Desktop Entry]
Name=Liri Browser
Exec=qmlscene $@ src/qml/ubuntu/Main.qml
Icon=icons/liri-browser.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

